.menu_box {
  position: relative;
  width: 15em;
  height: calc(100vh - 3.55em);
  background: white;
  top: 0.1em;
}
.menu_box_short {
  width: 5em;
}

@keyframes menuShort {
  from {
    width: 15em;    
  }
  to {
    width: 5em;
  }
}
@keyframes menuFull {
  from {
    width: 5em;
  }
  to {
    width: 15em;
  }
}
.menu_item {
  background: white;
  color: rgba(43, 43, 43, 0.85);
  padding: 1em 0 1em 2em;
  cursor: pointer;
  font-size: 0.9em;
  margin-bottom: 0.1em;
  position: relative;
  white-space: nowrap;
}
.menu_item.active {
  background: #d7e6df;
}
.menu_item svg {
  margin-right: 0.3em;
}
.menu_item:hover {
  box-shadow: 0 0 0.1em;
  color: #1da57a;
}
.menu_item_right {
  position: absolute;
  width: 0.3em;
  height: 100%;
  background-color: #1da57a;
  right: 0;
  top: 0;
}
.menu_short {
  position: absolute;
  right: 0;
  top: -3.4em;
  border: 0.1em solid;
  padding: 0.3em 0.5em;
  border-radius: 0.2em;
  font-size: 0.8em;
  color: #1da57a;
  cursor: pointer;
}
.menu_short_short {
  right: -5em;
}
